<ion-header>
  <ion-navbar>
    <ion-title>
      Demo ToDo App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Show History</ion-label>
    <ion-toggle [(ngModel)]="showDone"></ion-toggle>
  </ion-item>

  <to-do-card *ngFor="let todo of todoList; let i = index;"
               [todo]="todo"
               [showDone]="showDone"
               [todoIndex]="i"
               [lat]="this.lat"
               [long]="this.long"
               (deleteIndex)="deleteToDo($event)"
               (doneIndex)="toggleDone($event)">
  </to-do-card>

  <ion-card [hidden]="todoList.length" margin padding>
    <h2>
      Nothing yet!
    </h2>
  </ion-card>

  <button ion-button icon-only margin-right (click)="addToDo()" class="add-button">
    <ion-icon name="add"></ion-icon>
  </button>

</ion-content>
