<ion-header>

  <ion-navbar>
    <ion-title>Add new to do</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label>To Do</ion-label>
      <ion-input type="text" [(ngModel)]="newToDo.text"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Latitude</ion-label>
      <ion-input type="text" [(ngModel)]="newToDo.latittude"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Longitude</ion-label>
      <ion-input type="text" [(ngModel)]="newToDo.longitude"></ion-input>
    </ion-item> -->

    <button ion-item detail-none margin-right (click)="addLocation()">
      Add Location
      <ion-icon name="map"></ion-icon>
    </button>

    <ion-item>
      <ion-label>Continue adding</ion-label>
      <ion-toggle [(checked)]="continueAdding"
                  (ionChange)="switchContinue()">
      </ion-toggle>
    </ion-item>

  </ion-list>

  <button ion-button
          icon-only
          margin-right
          class="add-button"
          [disabled]="!newToDo.text"
          (click)="add()">
    <ion-icon name="add"></ion-icon>
  </button>

</ion-content>
