<div [hidden]="!showDone && todo.done" *ngIf="todo">
<ion-card margin>
    <ion-card-content class="todo-content">
      <div class="todo-text">
          {{todo.text}}

          <span *ngIf="lat && long && todo.latittude && todo.longitude">
              {{calculateDistance()}} kms
          </span>
      </div>
      <div class="todo-delete" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </div>
      <div class="todo-done">
        <ion-checkbox color="primary" [(checked)]="todo.done" (ionChange)="toggleDone()"></ion-checkbox>
      </div>
    </ion-card-content>
  </ion-card>
</div>
